<!doctype html>
<html>
<head>
	<title>Omnifee | Profile</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script charset="utf-8">
	$(document).ready(function () {
		var sum = 0;
		$('.bill-pay .price span').each(function() {
        sum += Number($(this).val());
    });
		console.log(sum);
		$('.bill-total .price h3 span').html(sum);
	})
	</script>
	<div class="container">
  <div class="content">
    <div class="row">
      <div class="col-sm-3">
        <div class="preferences">
          <div class="container">
            <ul>
              <li>
                <a href="">
                  Facturi Curente
                </a>
              </li>
              <li>
                <a href="">
                  Istorie Facturi
                </a>
              </li>
              <li>
                <a href="">
                  Alimentare Cont
                </a>
              </li>
              <li>
                <a href="">
                  Statistici
                </a>
              </li>
              <li>
                <a href="">
                  Setari
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row balance">
          <div class="col-xs-6">
            <h2>

              <i class="fa fa-money">

              </i>
              Balanta
            </h2>
          </div>
          <div class="col-xs-6">
            <h2 class="balance-number">
              <span><%= user.local.balance %></span> RON
            </h2>
          </div>
        </div>
        <div class="bill row">
          <div class="col-sm-4 col-xs-4 col-md-3 col-lg-2">
            <img src="../assets/providers/vodafone.png" class="bill-thumb"/>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-5 col-lg-6">
            <div class="bill-info">
              <span>
                Nr. de telefon: 722812066
              </span>
              <br/>
              <span>
                Cont client: 235279005
              </span>
              <br/>
              <span>
                Seria si numarul facturii: VDF1842952749
              </span>
              <br/>
              <span>
                Data facturii: 17/10/2014
              </span>
              <br/>
              <span>
                Perioada de facturare: 11/09/2014 - 19/10/2014
              </span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="bill-pay">
              <div class="price">
                  <span><%= user.local.bill1Value %></span> RON
              </div>
              <button type="submit" class="btn btn-lg btn-primary pay">
                Plateste
              </button>
            </div>
          </div>
        </div>
        <div class="bill row">
          <div class="col-sm-4 col-xs-4 col-md-3 col-lg-2">
            <img src="../assets/providers/orange.png" class="bill-thumb"/>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-5 col-lg-6">
            <div class="bill-info">
              <span>
                Nr. de telefon: 745141448
              </span>
              <br/>
              <span>
                Cont client: 09347355
              </span>
              <br/>
              <span>
                Seria si numarul facturii: OG94823175
              </span>
              <br/>
              <span>
                Data facturii: 1/10/2014
              </span>
              <br/>
              <span>
                Perioada de facturare: 1/09/2014 - 31/10/2014
              </span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="bill-pay">
              <div class="price">
                  <span><%= user.local.bill2Value %></span> RON
              </div>
              <button type="submit" class="btn btn-lg btn-primary pay">
                Plateste
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-xs-4 col-md-3 col-lg-2">
            <h2>
              Total:
            </h2>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-5 col-lg-6">
          </div>
          <div class="col-xs-4">
            <div class="bill-total">
              <div class="price">
                <h3>
                  <span></span>	RON
                </h3>
              </div>
              <button type="submit" class="btn btn-lg btn-primary pay">
                Plateste Tot
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

				<% if (user.local.email) { %>
					<p>
						<strong>id</strong>: <%= user._id %><br>
						<strong>email</strong>: <%= user.local.email %><br>
						<strong>password</strong>: <%= user.local.password %>
					</p>

					<a href="/unlink/local" class="btn btn-default">Unlink</a>
				<% } else { %>
					<a href="/connect/local" class="btn btn-default">Connect Local</a>
				<% } %>

			</div>
		</div>

</div>
</body>
</html>
